body {
	min-width: 320px;
}
      /*HEADER*/
header {
	height: 846px;
	background-image: url(../img/bg_header.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	/*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
}
.topnav {
	width: 960px;
	height: 277px;
	margin: 0 auto;
}
header a {
	text-decoration: none;
}
.logo {
	margin-top: 62px;
	float: left;
	margin-left: -8px;
}
         /*MENU*/
.menu {
	display: inline-block;
	float: right;
	margin-top: 60px;
	margin-right: -20px;

}
.menu li {
	margin: 18px;
	display: inline-block;
}
.menu a {
	margin: 5px;
	font-family: "LeagueGothic";
	font-size: 24px;
	text-decoration: none;
	color: #fefefe;
	text-shadow: 1px 1px 1px #a79a9d;
}
.menu a:hover {
	border-bottom: 2px solid #edbfff;
}

@media screen and (max-width: 959px) {
	header {
		height: 798px;
	}
	.topnav {
		width: 768px;
		height: 245px;
		text-align: left;

	}
	.logo {
		margin-top: 0px;
		margin-left: 12px;
		padding-top: 62px;
		float: none;
		display: block;
	}
	.menu {
		margin-top: 12px;
		float: none;
	}
}

@media screen and (max-width: 767px) {
	header {
		height: 550px;
	}
	.logo {
		margin: 0 auto;
	}
	.topnav {
		width: 480px;
		height: 204px;
		text-align: center;
	}
	.menu {
		width: 247px;
		height: 261px;
		margin-top: 26px;
		margin-right: 0px;
		position: relative;
	}
	.menu_item {
		margin: 0 auto;
	}
	.menu_item a {
		display: block;
	}
	.menu li {
		width: 245px;
		height: 38px;
		margin: 0px;
		display: block;
	}
	.menu ul {
		display: block;
		position: absolute;
		z-index: 3;
	}
	.menu .menu_item_sub2 {
		display: none;
	}
	.menu ul:hover .menu_item_sub2{
		display: block;
	}
	.menu ul:hover {
		background-color: rgba(63, 50, 71, 0.5);
		border: 1px solid #0f191f;
		border-radius: 8px;
		line-height: 38px;
		top: -10px;
	}
	.menu li:hover {
		background-color: #2b2231;
	}
}
@media screen and (max-width: 479px) {
	header {
		height: 516px;
		border-bottom: 1px solid #34273b;
	}
	.topnav {
		width: 360px;
	}
}

     /*SLIDER*/
.slider {
	height: 318px;
	background-color: rgba(0,0,0,0.5);
	padding-top: 82px;
}
.slider_sn {
	display: none;
	position: relative;
	width: 30px;
	margin: 40px;
	bottom: 120px;
}
.slider_sc {
	width: 956px;
	display: inline-block;
	text-align: left;
	position: relative;
}
.slider_sc_slogan {
	height: 240px;
	width: 505px;
	display: inline-block;
	font-size: 17px;
	line-height: 24px;
	text-shadow: 1px 1px 1px #000;
	color: #ffffff;
	font-family: "open_sansregular";
	overflow: hidden;
}
.slider_sc_slogan h1 {
	font-family:"LeagueGothic";
	font-size: 58px;
	line-height: 52px;
	color: #fefefe;
}
.slider_sc_slogan h3 {
	font-family:"LeagueGothic";
	font-size: 32px;
	line-height: 41px;
	color: #edbfff;
	white-space: nowrap;
}
.slider_sc_media {
	display: inline-block;
	position: absolute;
	top: -102px;
	left: 619px;
}
.slider_sc_select1 {
position: relative;
top: 124px;
right: -273px;
}

@media screen and (max-width: 959px) {
	.slider {
		padding-top: 97px;
	}
	.slider_sn {
		display: inline-block;
	}
	#slider_sn1 {
		margin: 0;
		bottom: 65px;
		left: -9px;
	}
	#slider_sn2 {
		margin: 0;
		bottom: 65px;
		left: 19px;
	}
	.slider_sc {
		width: 675px;
	}
	.slider_sc_slogan {
		width: 275px;
		height: 184px;
		margin-left: 5px;
		font-size: 15px;
		line-height: 26px;
	}
	.slider_sc_media {
		top: -122px;
		left: 413px;
	}
	.slider_sc_slogan h1 {
		font-size: 47px;
		line-height: 47px;
	}
	.slider_sc_slogan h3 {
		font-size: 24px;
		line-height: 40px;
	}
	.slider_sc_select1 {
		top: 148px;
		right: -208px;
	}
}
@media screen and (max-width: 767px){
	.slider {
		padding-top: 92px;
	}
	.slider_sc {
		width: 385px;
	}
	.slider_sc_slogan {
		width: 200px;
		height: 56px;
		margin-left: 5px;
	}
	.slider_sc_slogan h1 {
		font-size: 35px;
		line-height: 37px;
	}
	.slider_sc_slogan h3 {
		font-size: 18px;
		line-height: 20px;
	}
	.slider_sc_media {
		top: -103px;
		left: 225px;
	}
	.slider_sc_media img {
		width: 185px;
		height: 292px;
	}
	#slider_sn1 {
		bottom: 9px;
		left: -7px;
	}
	#slider_sn2 {
		bottom: 10px;
		left: 21px;
	}
	.slider_sc_select1 {
		top: 113px;
		right: -15px;
	}
}
@media screen and (max-width: 479px) {
	.slider {
		padding-top: 91px;
	}
	.slider_sc {
		width: 210px;
	}
	.slider_sc_slogan {
		width: 203px;
		height: 60px;
		margin-left: 13px;
	}
	.slider_sc_media {
		display: none;
	}
	.slider_sc_slogan h1 {
		font-size: 35px;
		line-height: 38px;
	}
	.slider_sc_slogan h3 {
		font-size: 18px;
	}
	#slider_sn1 {
		bottom: 10px;
		left: -23px;
	}
	#slider_sn2 {
		bottom: 14px;
		left: 21px;
	}
	.slider_sc_select1 {
		top: 70px;
		right: -7px;
	}
}
        /*ABOUT COMPANY*/

.com {
	background: -moz-linear-gradient(bottom, #322539, #745083);
	background: linear-gradient(to top, #322539, #745083);
}
.company {
	width: 960px;
	margin: 0 auto;
	padding-top: 69px;
	padding-bottom: 59px;
}
.company_con {
	width: 261px;
	height: 200px;
	margin-left: 24px;
	margin-right: 30px;
	display: inline-block;
	position: relative;
	font-family: "opensans-light";
}
.company_con h3 {
	font-family:"LeagueGothic";
	font-size: 30px;
	line-height: 46px;
	text-shadow: 1px 1px 1px #000;
	color: #e5e3e6;
}
.company_con a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family:"LeagueGothic";
  position: relative;
  left: 202px;
  top: -9px;
}
.company_con a:hover {
	text-shadow: 0 0 3px #ffffff; 
}
#company_con2 {
	margin-left: 43px;
	margin-right: 30px;
}
#company_con3 {
	margin-left: 40px;
	margin-right: 0px;
}
.company_con_first,.company_con_second,.company_con_third {
	margin-left: 40px;
	display: inline-block;
	position: relative;
	color: #e5e3e6;
  text-shadow: 1px 1px 1px #000;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  font-family: "open_sansregular";
  overflow: hidden;
}
#pic1 {
	height: 30px;
	width: 30px;
	display: block;
	background-image: url(../img/pic.png);
	position: absolute;
	top: 13px;
	left: -13px;
}
#pic2 {
	height: 30px;
	width: 30px;
	display: block;
	background-image: url(../img/pic.png);
	background-position: 58px;
	position: absolute;
	left: -13px;
	top: 14px;
}
#pic3 {
	height: 30px;
	width: 30px;
	display: block;
	background-image: url(../img/pic.png);
	background-position: 29px;
	position: absolute;
	left: -13px;
	top: 15px;
}

@media screen and (max-width: 959px) {
	.company {
		width: 768px;
		padding-top: 76px;
		padding-bottom: 65px;
		font-size: 15px;
	}
	.company_con {
		width: 202px;
		height: 202px;
		margin-left: 24px;
		margin-right: 30px;
	}
	.company_con_first,.company_con_second,.company_con_third {
		height: 174px;
	}
	#company_con1 {
		margin-left: 43px;
		margin-right: 23px;
	}
	#company_con2 {
		margin-left: 22px;
		margin-right: 32px;
	}
	#company_con3 {
		margin-left: 21px;
		margin-right: 0px;
	}
	.company_con h3 {
		font-size: 24px;
		line-height: 29px;
	}
	.company_con a {
  	left: 132px;
  	top: 3px;
	}
	#pic1,#pic2,#pic3 {
		top: 3px;
		left: -11px;
		background-position: 0px;
	}
}

@media screen and (max-width: 767px) {
	.company {
		width: 480px;
		height: 458px;
		padding-top: 74px;
	}
	.company_con {
		width: 390px;
		height: 135px;
		display: block;
	}
	#company_con1,#company_con2,#company_con3 {
		margin: 0px auto 23px;
	}
	.company_con p {
		height: 70px;
		overflow: hidden;
	}
	.company_con a {
  	left: 356px;
  	top: -60px;
  }
}

@media screen and (max-width: 479px) {
	.company {
		width: 360px;
		height: 465px;
		padding-top: 68px;
	}
	.company_con {
		width: 257px;
		height: 140px;
	}
	#company_con1 {
		margin: 0px 0 20px 64px;
	}
	#company_con2 {
		margin: 0px 0 20px 64px;
	}
	#company_con3 {
		margin: 32px 0 18px 64px;
	}
	.company_con a {
  	left: 196px;
  	top: -61px;
  }
}

                /*CONTENT*/
                /*slyder cmall*/
.content {
	padding-top: 99px;
	background-color: #f9f9f9;
	font-size: 16px;
	text-align: center;
}
.content_con {
	width: 960px;
	margin: 0 auto;
}
.slayd_sm {
	width: 350px;
	height: 240px;
	margin: 0 20px 110px 14px;
	padding: 36px 40px 0 40px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: white;
	text-align: left;
	line-height: 25px;
}
#photo {
	position: absolute;
	left: -25px;
	top: 17px;
}
.slayd_sm h3 {
	display: inline;
	font-size: 28px;
	color: #454545;
	font-family:"LeagueGothic";
}
.slayd_sm h4 {
	display: inline;
	font-size: 28px;
	color: #edbfff;
	font-family:"LeagueGothic";
}
.slayd_sm p{
	height: 180px;
	margin-top: 5px;
	overflow: hidden;
}
.select2 {
	position: absolute;
	left: 160px;
	bottom: -38px;
}
.arow {
	width: 0px;
	height: 0px;
	border: 30px solid transparent; 
	margin: 20px 10px;
	border-right-color: #fefefe;  
  border-left: 0;
  position: absolute;
  right: 40px;
  bottom: -50px;
}
							/*updates*/
.updates {
	width: 440px;
	height: 240px;
	margin: -3px 0px 110px 30px;
	padding-top: 38px;
	display: inline-block;
	text-align: left;
	font-size: 14px;
	line-height: 16px;
}
#more {
	display: none;
}
.updates h3 {
	font-size: 30px;
	color: #454545;
	font-family:"LeagueGothic";
	line-height: 20px;
	display: inline;
}
.updates h6 {
	display: inline;
	font-weight: bold;
	font-size: 15px;
	line-height: 33px;
}
.updates img {
	float: left;
	display: inline-block;
	margin-right: 14px;
}
.updates a{
	font-family:"LeagueGothic";
	font-size: 19px;
	position: relative;
	bottom: -238px;
	left:205px;
}
@media screen and (max-width: 959px) {
	.content_con {
		width: 768px;
	}
	.slayd_sm {
		width: 273px;
		height: 242px;
		margin: 0px 20px 115px 40px;
		padding: 30px 0px 0 40px;
	}
	.slayd_sm p{
		width: 260px;
		height: 145px;
		overflow: hidden;
		line-height: 24px;
	}
	.slayd_sm h3 {
		display: block;
		font-size: 24px;
		line-height: 27px;
	}
	.slayd_sm h4 {
		font-size: 24px;
		line-height: 25px;
	}
	.arow {
		display: none;
	}
	.select2 {
		left: 104px;
		bottom: -43px;
	}
	.updates {
		width: 330px;
		height: 270px;
		margin: 0px 10px 78px 30px;
		padding-top: 35px;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
	}
	.updates a{
		display: none;
		font-size: 18px;
	}
	#more {
		display: block;
		position: absolute;
		left: 241px;
		bottom: 10px;
	}
	.updates img {
		display: inline-block;
		margin-right: 14px;
	}
}

@media screen and (max-width: 767px) {
	.content {
		padding-top: 68px;
}
	.content_con {
		width: 480px;
}
	.slayd_sm {
		width: 380px;
		height: 243px;
		display: inline-block;
		padding: 30px 0px 0px 37px;
		margin: 0 0 20px 30px ;
	}
	.slayd_sm p{
		width: 350px;
		height: 165px;
		margin-top: 12px;
		line-height: 24px;
	}
	.slayd_sm h3 {
		display: inline-block;
		font-size: 31px;
	}
	.slayd_sm h4 {
		font-size: 29px;
	}
	.select2 {
		left: 151px;
	}
	.updates {
		width: 340px;
		display: inline-block;
		margin: 40px 0 77px 30px;
	}
	#more {
		left: 251px;
		bottom: 10px;
	}
}

@media screen and (max-width: 479px) {
	.content_con {
		width: 320px;
	}
	.slayd_sm {
		width: 220px;
		height: 247px;
		margin: 0 0 20px 30px;
		padding-top: 26px;
	}
	.slayd_sm h3 {
		display: block;
		font-size: 24px;
	}
	.slayd_sm h4 {
		font-size: 24px;
	}
	.slayd_sm p{
		width: 180px;
		margin-top: 0;
		line-height: 24px;
	}
	.select2 {
		left: 87px;
	}
	.updates {
		width: 278px;
		display: inline-block;
		margin: 40px 0 77px 0px;
	}
	#more {
		left: 187px;
		bottom: 10px;
	}
}

				/*PARTNERS*/
.partners {
	background-color: #f9f9f9;
	border-top: 2px solid #d8d8d8;
	border-bottom: 2px solid #d8d8d8;
	text-align: center;
}
.partners_con {
	width: 960px;
	margin: 0 auto;
}
.icon {
	display: inline-block;
	margin: 21px 31px 29px 28px;
}

@media screen and (max-width: 959px) {
	.partners_con {
		width: 768px;
	}
	.icon {
		margin: 19px 23px 29px 24px;
	}
}

@media screen and (max-width: 767px) {
	.partners {
		height: 231px;
	}
	.partners_con {
		width: 480px;
	}
	.icon {
		margin: 31px 26px 0px 25px;
	}
}

@media screen and (max-width: 479px) {
	.partners {
		height: 420px;
	}
	.partners_con {
		width: 320px;	
	}
	.icon {
		margin: 52px 25px 2px 27px;
	}
}


				/*COMENTS*/
.coments {
	padding-top: 84px;
	background-color: #ececec;
	text-align: center;
	color: #787878;
}
.com1,.com2,.com3,.com4,.com5 {
	width: 280px;
	height: 220px;
	margin: 0 27px 90px 27px;
	display: inline-block;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	vertical-align: top;
}
.com4,.com5 {
	display: none;
}
.coments h3{
	font-family:"LeagueGothic";
	color: #454545;
	font-size: 30px;
	line-height: 50px;
}

@media screen and (max-width: 959px) {
	.coments {
		padding-top: 90px;
	}
	.com1,.com2 {
		display: none;
	}
	.com4,.com5 {
		display: inline-block;
	}
	.com1,.com2,.com3,.com4,.com5 {
		width: 210px;
		height: 213px;
		margin: 0 30px 93px 19px;
		overflow: hidden;
		font-size: 14px;
		line-height: 24px;
	}
	.com5 {
		margin-right: 0px;
	}
	.coments h3{
		font-size: 24px;
		line-height: 45px;
	}
}

@media screen and (max-width: 767px) {
	.coments {
		height: 598px;
		padding-top: 70px;
	}
	.com1,.com2,.com3,.com4,.com5 {
		width: 441px;
		height: 133px;
		margin: 0 0px 53px 18px;
	}
	.coments h3{
		line-height: 41px;
	}
}

@media screen and (max-width: 479px) {
	.coments {
		display: none;
	}
}
					/*FOOTER*/
footer {
	height: 66px;
	padding-top: 48px;
	background: url(../img/bg_footer.jpg);
	background-size: cover;
	text-align: center;
}
footer ul {
	display: inline-block;
}
.fnav {
	display: inline-block;
	margin: 0 19px 0 19px;
}
.fnav a {
	font-family:"LeagueGothic";
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #6b696a;
}
.design {
	margin-left: 265px;
	margin-right: 14px;
	display: inline-block;
	font-size: 12px;
	text-shadow: 1px 1px 1px #484853;
	color: #ffffff;
}
.design h5 {
	display: inline;
	font-weight: bold;
	font-size: 11px;
}

@media screen and (max-width: 959px) {
	footer {
		height: 124px;
		padding-top: 48px;
		text-align: left;
	}
	.design {
		position: relative;
		left: 345px;
		bottom: -30px;
		font-size: 10px;
	}
}

@media screen and (max-width: 767px) {
	footer {
		height: 153px;
		text-align: center;
	}
	.fnav {
	margin: 0 2px 0 18px;
}
	.design {
		font-size: 11px;
		position: static;
		margin: 32px 0 0 21px;
	}
}

@media screen and (max-width: 479px) {
	footer {
		height: 163px;
		padding-top: 37px;
	}
	.fnav {
		display: none;
	}
	.design {
		margin: 0;
	}
}